<h2>@Model["venue"].GetVenueName()</h2>
<h4>Bands Playing at this venue.</h4>
@if(@Model["bandAtVenue"].Count ==0)
{
  <p>
    No bands scheduled to play at this venue.
  </p>
}
else
{
<ul>
  @foreach(var band in @Model["bandAtVenue"])
  {
    <li><a href="/band/@band.GetId()">@band.GetBandName()</a></li>
  }
</ul>
}

<h3>Add bands</h3>
<form action="/venue/@Model["venue"].GetId()" method="post">
  <input type="hidden" name="band_id">
  <select name="add_new_band">
    @foreach(var band in @Model["allBands"])
    {
      <option value="@band.GetId()">@band.GetBandName()</option>
    }
  </select>
  <button type="submit">Add Band</button>
</form>
<a href="/venue/update/@Model["venue"].GetId()">Update Venue</a>
